VITE_SUPABASE_URL=https://exvohlrsorcgvfyeemhs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV4dm9obHJzb3JjZ3ZmeWVlbWhzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg0NjQwOTUsImV4cCI6MjA5NDA0MDA5NX0.LJHcy0lbFEziEc53EV9AB9HnVdw53N_MOkUPgSG_KJM